.paginationw {
  display: flex;
  list-style: none;
  outline: none;
  display: flex;
  justify-content: flex-end;
}
.paginationw > .active > a {
  background-color: #47ccde;
  border-color: black;
  color: white;
}
.paginationw > li > a {
  padding: 15px 15px;
  border-radius: 10%;
  font-size: 40px;
  outline: none;
  cursor: pointer;
}
.paginationw > .active > a,
.paginationw > .active > span,
.paginationw > .active > a:hover,
.paginationw > .active > span:hover,
.paginationw > .active > a:focus,
.paginationw > .active > span:focus {
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
}
.paginationw > li > a,
.paginationw > li > span {
  color: white;
}
.paginationw > li:first-child > a,
.paginationw > li:first-child > span,
.paginationw > li:last-child > a,
.paginationw > li:last-child > span {
  border-radius: unset;
}

.text-warning1 {
  color: #f39c12 !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px !important;
  }
}

.empty-input-bg {
  background-color: rgba(#f86c6b, 0.4);
}
