.App {
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shadowBg {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(254, 250, 250, 0.2);
}
.navMain {
  margin-left: 30px;
}
.link-style {
  font-size: 25px;
  margin-left: 40px;
  color: black;
}
.link-style:hover {
  text-decoration: none;
  color: gray;
}

.link-style-h {
  font-size: 35px;
  margin-left: 10px;
  color: black;
}
.link-style-h:hover {
  text-decoration: none;
  color: gray;
  transition-duration: 2s;
}
